# delete when new_type argument removed and we remove the old code
[run]
omit =
  */new_alignment.py
  */new_alphabet.py
  */new_genetic_code.py
  */new_moltype.py
  */new_sequence.py
  */special.py
  */distribution.py
