chardet==5.1.0
pillow==9.5.0
psutil==5.9.5
numpy==1.25.0
numba>0.48.0;python_version<'3.9'
numba>0.53; python_version>='3.9'
numba>0.54; python_version>='3.10'
numba>=0.57.0; python_version=='3.11'
scipy==1.11.0
nox==2023.4.22
plotly==5.15.0
typing_extensions>=3.7
.[dev]
