  #contents {
      background: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      line-height: 140%;
      font-size: 140%;
      font-family: "Hoefler Text";
  }
  blockquote { border-left: 5px solid rgb(204, 204, 204);
    margin-left: 1.5em;
    padding-left: 5px;
    }

  body { background: rgb(255, 255, 255) none repeat scroll 0% 50%;
    color: rgb(0, 0, 0);
    font-size: 12pt;
    line-height: 12pt;
    font-family: "Baskerville";
    }
  
    @media screen {
        body {
        margin-left: 4%;
        margin-right: 4%;
        }
        h1.title {
          text-align: center;
          }
        
        pre.code {
            background-color: rgb(238, 238, 238);
            }
    }
    
    @media print {
        body {
             page-break-inside: auto;
             text-align: justify;
             bottom-right: counter(page);
             margin-left: 1cm;
             margin-right: 1cm;
            }
        h1.title {
              text-align: left;
              }
        pre.code {
            background-color: rgb(255, 255, 255);
            }
        }

  cite { font-size: 90%;
    font-style: normal;
    }

  h1 { font-family: "Hoefler Text";
    background-color: #E6E6E6;
    line-height: 140%;
    font-size: 140%;
    }
  h1.title {
    font-family: "Hoefler Text";
    background-color: #E6E6E6;
    line-height: 180%;
    font-size: 180%;
  }
  h2 { border-bottom: 1px dotted rgb(204, 204, 204);
    margin: 15px 0pt 2px;
    letter-spacing: 0.2em;
    padding-bottom: 2px;
    font-size: 140%;
    }

    h3 { border-bottom: 1px dotted rgb(238, 238, 238);
      margin-top: 0pt;
      font-size: 120%;
      }

    h4 { border-bottom: 1px dotted rgb(238, 238, 238);
    margin-top: 0pt;
    font-size: 110%;
    }

  p, li, .feedback { font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-size-adjust: none;
    font-family: normal;
    font-size: 100%;
    line-height: 100%;
    }

  ul.post-meta { list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
    }

  ul.post-meta span.post-meta-key { font-weight: bold;
    }

  .copyright { font-size: 11px;
    }

  .credit { border: medium solid rgb(68, 68, 68);
    margin: 0pt 19em 0pt 0pt;
    padding: 0.25em;
    background: rgb(232, 232, 232) none repeat scroll 0% 50%;
    -moz-background-clip: initial;
    -moz-background-origin: initial;
    -moz-background-inline-policy: initial;
    display: none;
    font-size: 11px;
    text-align: center;
    line-height: 100%;
    height: 33px;
    }

  .credit a:link, .credit a:hover { color: rgb(255, 255, 255);
    }

  .feedback { color: rgb(204, 204, 204);
    text-align: right;
    }

  .meta { font-size: 0.75em;
    }

  .meta li, ul.post-meta li { display: inline;
    }

  .meta ul { margin: 0pt;
    padding: 0pt;
    display: inline;
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
    }

  .meta, .meta a { color: rgb(128, 128, 128);
    font-weight: normal;
    letter-spacing: 0pt;
    }

  .storytitle { margin: 0pt;
    }

  .storytitle a { text-decoration: none;
    }

    tt {
    font-family: Monaco;
        font-size: 82%;
    }
    
    dt {
        font-weight: bold;
    }
  pre.code { padding: 0em;
    font-family: Monaco;
    white-space: pre;
    color: rgb(17, 17, 17);
    width: 100%;
    line-height: 100%;
    font-size: 82%;
    }

  span.py_keyword { color: rgb(192, 0, 0);
    }

  span.py_string { color: rgb(0, 64, 128);
    }

  span.py_comment { color: rgb(0, 128, 0);
    }

  span.py_identifier { color: rgb(0, 0, 192);
    }

    table { border: 0px none ;
      text-align: center;
      font-weight: normal;
      color: rgb(255, 255, 255);
      background-color: rgb(102, 102, 102);
      border-collapse: collapse;
      -x-border-x-spacing: 0px;
      -x-border-y-spacing: 0px;
      font-family: Times New Roman,Times,serif;
      font-size: 12pt;
      line-height: 12pt;
      }

    table td { border: 1px solid rgb(255, 255, 255);
      padding: 4px;
      background-color: rgb(204, 204, 204);
      color: rgb(0, 0, 0);
      text-align: left;
      font-family: Times New Roman,Times,serif;
      font-size: 12pt;
      line-height: 12pt;
      }

    table td.hed { border-bottom: 2px solid rgb(255, 255, 255);
      padding: 4px;
      background-color: rgb(102, 102, 102);
      color: rgb(255, 255, 255);
      text-align: left;
      font-weight: bold;
      font-family: Times New Roman,Times,serif;
      font-size: 12pt;
      line-height: 12pt;
      }
