name: CI

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]

jobs:
  tests:
    name: "Python ${{ matrix.python-version }}"
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        python-version: [3.7, 3.8, 3.9]

    steps:
      - uses: "actions/checkout@v2"
        with:
          fetch-depth: 0

      # Setup env
      - uses: "actions/setup-python@v2"
        with:
            python-version: "${{ matrix.python-version }}"

      - name: "Installs for ${{ matrix.python-version }}"
        run: |
          python --version
          python -m pip install --upgrade pip wheel setuptools flit
          python -m pip install --upgrade tox tox-gh-actions
          python -m pip install -r requirements.txt

      - name: "Run tox targets for ${{ matrix.python-version }}"
        run: tox
        env:
          PLATFORM: ${{ matrix.platform }}
        
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          file: ./tests/junit-*.xml
          fail_ci_if_error: true
