name: CI

on:
  push:
    branches-ignore:
      - master
  pull_request:
    branches-ignore:
      - master

jobs:
  tests:
    name: "Python ${{ matrix.python-version }}"
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.8", "3.9", "3.10", "3.11"]

    steps:
      - uses: "actions/checkout@v2"
        with:
          fetch-depth: 0

      # Setup env
      - uses: "actions/setup-python@v3"
        with:
            python-version: "${{ matrix.python-version }}"

      - name: "Installs for ${{ matrix.python-version }}"
        run: |
          python --version
          pip install --upgrade pip wheel setuptools flit
          pip install --upgrade nox

      - name: "Run nox for ${{ matrix.python-version }}"
        run: "nox -s test-${{ matrix.python-version }}"

      - name: Coveralls Parallel
        uses: coverallsapp/github-action@master
        with:
          parallel: true
          github-token: ${{ secrets.github_token }}
          flag-name: run-${{ matrix.test_number }}
          path-to-lcov: "tests/lcov-${{ matrix.python-version }}.info"

  finish:
    needs: tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        python-version: ["3.8", "3.9", "3.10"]
    steps:
    - name: Coveralls Finished
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.github_token }}
        parallel-finished: true
